<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>    
    <add key="Project" value="TFS_PROJECT_NAME"/>
    <add key="PlanID" value="TFS_PLAN_ID"/>
    <add key="SuiteID" value ="TFS_SUITE_IDs"/>
    <add key="ConfigurationID" value="TFS_CONFIGURATION_ID"/>
    <add key="Collection" value="http://<TFS_SERVER_NAME>:<TFS_SERVER_PORT>/tfs/<TFS_COLLECTION_NAME>"/>
    <add key="DropLocation" value="XAML_BUILD_DEFINITION_DROP_LOCATION"/>
    <add key="BuildDefinition" value="XAML_BUILD_DEFINITION_NAME"/>
    <add key="Flavor" value="Release"/>
    <add key="Platform" value="Any CPU"/>
    <add key="TestEnvironment" value="TFS_TEST_ENVIRONMENT"/>
    <add key="TestSettingName" value="TFS_TEST_SETTINGS_NAME"/>
    <add key="Iterations" value="false"/>
  </appSettings>
</configuration>